
@use './variables' as v;


header{
    display:flex;
    align-items: center;
 

.logo{
    width:80px;
    height:80px;
    background-color: v.$primary-grey;

    
   
}


.logo-text-container{
    height:51px;
    margin-left:7px;
    flex-grow: 2;

    .text{
        width:346px;
        height:inherit;
        background-color: v.$primary-grey;
    }
}
button {
    width:213px;
    height:65px;
    -webkit-box-shadow: -6px 5px 0px -1px rgba(0,0,0,0.41); 
    box-shadow: -6px 5px 0px -1px rgba(0,0,0,0.41);
    
    
}

.burger-menu{
    width:62px;
    margin-left:128px;
     span{
         display:inline-block;
         background-color: v.$primary-grey;
         width:62px;
         height:15px;
     }
}
}


